div{
	
	margin: 90px/*top bottom*/ 70px/*left right */;
	border: 5pt solid black;
	height: 200px;
	width: 400px;
	border-right-width:10px;
	background-color:RGB(0,255,255);
	margin: 90px/*top*/ 50px /*left*/ 70px/*bottom*/ 40px/*right */;
	margin: 90px auto/*centrato*/;
	padding: 20px;
	
}
p{
	font-family:verdana,helvetica,sans-serif;
	font-size: 3pt;
	font-size-adjust:2 ;
	text-align:center;
	color:RGB(0,155,155);
	letter-spacing: 2px;
	word-spacing: 5px;
}
p span{
	font-size-adjust:3 ;
}
p span span{
	font-size-adjust:4 ;
	font-weight:750;
}
.italic{
	font-style:italic;
}
.sottolineato{
	text-decoration:underline;
}
